body {
    margin: 40px;
  }

.botao-visualizar,
.botao-acoes {
    color: #000000;
    cursor: pointer;
    border: none;
    background: none;
    align-items: center;
    font-size: 25px;
}

.header-color {
    height: 100%;
    width: 100%;
    color:blue;
}

.logo {
    width: 184px;
    height: 51px;
}

